.Input h2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #4315D6;
}
.Input .AddTask form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Input input{
    font-size: 1.2rem;
    border-radius:2px;
    border: none;
    background-color: #d4d4d4;
    color: #fff;
    height: 35px;
    width: 300px;
}
.Input button{
    background-color: #4315D6;
    color: #fff;
    height: 35px;
    width: 40px;
    border: none;
    margin-left: 4px;
    border-radius: 5px;
    transition: 400ms;
}
.Input button:hover{
    background-color: #4215d698;
}
.Input ul{
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.Input .delete{
    background-color: #d41f1f;
}
.Input .ItemList{
    display: flex;
    align-items: center;
}
.Input ul{
    display: flex;
}

.Input li{
    border-radius: 4px;
    background-color: #8c19f78c;
    color: #fff;
    width: 290px;
    height: 35px;
    align-items: center;
    display: flex;
    padding: 0px 7px;
    list-style: none;
    margin-left: -40px;
}



